<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhinengshe.dao.student.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.zhinengshe.pojo.student.Student" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="classes" property="classes" jdbcType="VARCHAR" />
    <result column="stustate" property="stustate" jdbcType="TINYINT" />
    <result column="qsstate" property="qsstate" jdbcType="TINYINT" />
    <result column="registtime" property="registtime" jdbcType="TIMESTAMP" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, tel, classes, stustate, qsstate, registtime, username, password
  </sql>
  
  <!-- 分页查询记录 -->
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="com.zhinengshe.pojo.student.Student">
  		select 
  			id, name, tel, classes, stustate, qsstate, registtime, username, password 
  		from 
  			student
  		<where>
  				1=1
  			<if test="name != null">
  				 and name like "%"#{name}"%"  <!-- 防止sql注入 --> 
  			</if>
  			<if test="tel != null">
  				 and tel like "%"#{tel}"%"  <!-- 防止sql注入 --> 
  			</if>
  			<if test="registtime != null">
  				 and registtime >= #{registtime}
  			</if>
  			
  			<if test="classes != null">
  				 and classes = #{classes}
  			</if>
  			
  			<if test="stustate != null">
  				 and stustate = #{stustate}
  			</if>
  			
  			<if test="qsstate != null">
  				 and qsstate = #{qsstate}
  			</if>
  			
  			<if test="username != null">
  				 and username like "%"#{username}"%"  <!-- 防止sql注入 --> 
  			</if>
  			<!-- 实现分页 -->
  			<if test="startRow != null">
  				limit  #{startRow},#{pageSize}  <!-- limit 0,10 -->
  			</if>
  		</where>
  </select>
  
  <!-- 查询分页总记录条数 -->
  <select id="selectTotalCount" resultType="int" parameterType="com.zhinengshe.pojo.student.Student">
  		select 
  			count(1)
  		from 
  			student
  		<where>
  			<if test="name != null">
  				 and name like "%"#{name}"%"  <!-- 防止sql注入 --> 
  			</if>
  			<if test="tel != null">
  				 and tel like "%"#{tel}"%"  <!-- 防止sql注入 --> 
  			</if>
  			<if test="registtime != null">
  				 and registtime >= #{registtime}
  			</if>
  			<if test="classes != null">
  				 and classes = #{classes}
  			</if>
  			<if test="stustate != null">
  				 and stustate = #{stustate}
  			</if>
  			<if test="qsstate != null">
  				 and qsstate = #{qsstate}
  			</if>
  			<if test="username != null">
  				 and username like "%"#{username}"%"  <!-- 防止sql注入 --> 
  			</if>
  		</where>
  </select>
  
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhinengshe.pojo.student.StudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhinengshe.pojo.student.StudentExample" >
    delete from student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhinengshe.pojo.student.Student" >
    insert into student (id, name, tel, 
      classes, stustate, qsstate, 
      registtime, username, password
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{classes,jdbcType=VARCHAR}, #{stustate,jdbcType=TINYINT}, #{qsstate,jdbcType=TINYINT}, 
      #{registtime,jdbcType=TIMESTAMP}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhinengshe.pojo.student.Student" >
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="classes != null" >
        classes,
      </if>
      <if test="stustate != null" >
        stustate,
      </if>
      <if test="qsstate != null" >
        qsstate,
      </if>
      <if test="registtime != null" >
        registtime,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="classes != null" >
        #{classes,jdbcType=VARCHAR},
      </if>
      <if test="stustate != null" >
        #{stustate,jdbcType=TINYINT},
      </if>
      <if test="qsstate != null" >
        #{qsstate,jdbcType=TINYINT},
      </if>
      <if test="registtime != null" >
        #{registtime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhinengshe.pojo.student.StudentExample" resultType="java.lang.Integer" >
    select count(*) from student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update student
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null" >
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.classes != null" >
        classes = #{record.classes,jdbcType=VARCHAR},
      </if>
      <if test="record.stustate != null" >
        stustate = #{record.stustate,jdbcType=TINYINT},
      </if>
      <if test="record.qsstate != null" >
        qsstate = #{record.qsstate,jdbcType=TINYINT},
      </if>
      <if test="record.registtime != null" >
        registtime = #{record.registtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update student
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      classes = #{record.classes,jdbcType=VARCHAR},
      stustate = #{record.stustate,jdbcType=TINYINT},
      qsstate = #{record.qsstate,jdbcType=TINYINT},
      registtime = #{record.registtime,jdbcType=TIMESTAMP},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhinengshe.pojo.student.Student" >
    update student
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="classes != null" >
        classes = #{classes,jdbcType=VARCHAR},
      </if>
      <if test="stustate != null" >
        stustate = #{stustate,jdbcType=TINYINT},
      </if>
      <if test="qsstate != null" >
        qsstate = #{qsstate,jdbcType=TINYINT},
      </if>
      <if test="registtime != null" >
        registtime = #{registtime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhinengshe.pojo.student.Student" >
    update student
    set name = #{name,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      classes = #{classes,jdbcType=VARCHAR},
      stustate = #{stustate,jdbcType=TINYINT},
      qsstate = #{qsstate,jdbcType=TINYINT},
      registtime = #{registtime,jdbcType=TIMESTAMP},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>